<div class="container-fluid" style="height:100%">
  <div class="row" style="height:100%">
    <div class="col-md-3" ng-style="{'height': '100%'}">

      <div ng-show="true">
        <div class="row">
          <h4>Click to add vis: </h4>
          <ul class="list-group">
            <a href="" data-dismiss="modal" ng-click="addVisToDash(vis)" class="list-group-item" ng-repeat="vis in loadedvis"><span class="badge">{{vis._source.chartType}}</span>
              <h5 class="list-group-item-heading">{{vis._source.name}}</h5>
              <p class="list-group-item-text">{{vis._source.description}}</p>
            </a>
          </ul>
        </div>

        <div class="row">
          <h4>Click to add panel: </h4>
          <ul class="list-group">
            <a href="" data-dismiss="modal" ng-click="addPanelToDash(panel)" class="list-group-item" ng-repeat="panel in loadedpanels"><span class="badge">{{panel._source.rows}}x{{panel._source.columns}} - {{panel._source.charts.length}} charts</span>
              <h4 class="list-group-item-heading">{{panel._source.name}}</h4>
              <p class="list-group-item-text">{{panel._source.description}}</p>
            </a>
          </ul>
        </div>

      </div>


    </div>
    <div class="col-md-9" id="ThreeJSDashboard" style="height:100%"></div>

  </div>


</div>


<!-- button type="button" class="btn btn-default btn-sm" ng-click="changeTab(1)">Go to visualize</button -->
