<div class="col-md-3" ng-style="{'height': '100%'}">

  <div class="row">
    <h4>Click to add: </h4>
    <ul class="list-group">
      <a href="#" data-dismiss="modal" ng-click="loadVis(vis._source)" class="list-group-item" ng-repeat="vis in loadedvis"><span class="badge">{{vis._source.chartType}}</span>
        <h5 class="list-group-item-heading">{{vis._source.name}}</h5>
        <p class="list-group-item-text">{{vis._source.description}}</p>
      </a>
    </ul>
  </div>

</div>
<div class="col-md-9" ng-style="{'background-color':'green', 'height': '100%'}">

</div>

<button type="button" class="btn btn-default btn-sm" ng-click="changeTab(1)">Go to visualize</button>
Tab 2 content
tewhhiqw
