<div class="container-fluid" style="height:100%">
  <div class="row" style="height:100%">
    <div class="col-md-3" ng-style="{'height': '100%'}">

      <div ng-show="editingPanel">
        <div class="row">
          <h4>Click to add: </h4>
          <ul class="list-group">
            <a href="" data-dismiss="modal" ng-click="openAddToPanelModal(vis)" class="list-group-item" ng-repeat="vis in loadedvis"><span class="badge">{{vis._source.chartType}}</span>
              <h5 class="list-group-item-heading">{{vis._source.name}}</h5>
              <p class="list-group-item-text">{{vis._source.description}}</p>
            </a>
          </ul>
        </div>

        <div class="row">
          <h4>Options: </h4>
          <!-- button type="button" class="btn btn-default btn-sm" ng-click="editVis()">Switch mode</button-->
          <button type="button" class="col-md-12 btn btn-default" ng-click="openNewPanelModal()">New Panel</button>
          <button type="button" class="col-md-12 btn btn-success" ng-click="openSavePanelModal()">Save Panel</button>
          <button type="button" class="col-md-12 btn btn-primary" ng-click="openLoadPanelModal()">Load Panel</button>
        </div>
      </div>

      <div ng-show="editingVis" style="height:100%">
        <h4>Edit chart: </h4>

      </div>

    </div>
    <div class="col-md-9" id="ThreeJSPanels" style="height:100%"></div>

  </div>


  <script type="text/ng-template" id="newpanelmodal.html">
    <div class="modal fade">
      <div class="modal-dialog modal-lg">
       <div class="modal-content">
         <div class="modal-header">
           <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
           <h4 class="modal-title">New Panel</h4>
         </div>
         <div class="modal-body">

           <form class="form-horizontal" role="form">
             <div class="form-group">
               <label for="position" class="col-sm-2 control-label">Position</label>
               <div class="col-sm-10">
                 <input type="text" class="form-control" id="position" placeholder="x" ng-model="positionx">
                 <input type="text" class="form-control" id="position" placeholder="y" ng-model="positiony">
                 <input type="text" class="form-control" id="position" placeholder="z" ng-model="positionz">
               </div>
             </div>

             <div class="form-group">
               <label for="rows" class="col-sm-2 control-label">Rows</label>
               <div class="col-sm-10">
                 <input type="number" class="form-control" ng-model="rows" id="rows" placeholder="number of rows" ng-model="rows">
               </div>
             </div>

             <div class="form-group">
               <label for="columns" class="col-sm-2 control-label">Columns</label>
               <div class="col-sm-10">
                 <input type="number" class="form-control" ng-model="columns" id="columns" placeholder="number of columns" ng-model="columns">
               </div>
             </div>

             <div class="form-group">
               <label for="dimension" class="col-sm-2 control-label">Dimension</label>
               <div class="col-sm-10">
                 <input type="text" class="form-control" ng-model="dimension" id="dimension" placeholder="[width, height]" ng-model="dimension">
               </div>
             </div>

             <div class="form-group">
               <label for="opacity" class="col-sm-2 control-label">Opacity</label>
               <div class="col-sm-10">
                 <input type="number" step="0.1" max="1" min="0" class="form-control" ng-model="opacity" id="opacity" placeholder="0..1" ng-model="opacity">
               </div>
             </div>
           </form>
         </div>

         <div class="modal-footer">
           <button type="button" ng-click="confirmCreate()" class="btn btn-primary" data-dismiss="modal">Create</button>
           <button type="button" ng-click="cancel()" class="btn" data-dismiss="modal">Cancel</button>
         </div>
       </div>
      </div>
    </div>
   </script>

   <script type="text/ng-template" id="savepanelmodal.html">
     <div class="modal fade">
       <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Save Panel</h4>
          </div>
          <div class="modal-body">

        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" ng-model="name" id="name" placeholder="Panel Name" ng-model="name">
            </div>
          </div>
          <div class="form-group">
            <label for="age" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" ng-model="description" id="description" placeholder="Description">
            </div>
          </div>
        </form>

          </div>
          <div class="modal-footer">
            <button type="button" ng-click="save()" class="btn btn-primary" data-dismiss="modal">Save!</button>
            <button type="button" ng-click="cancel()" class="btn" data-dismiss="modal">Cancel</button>
          </div>
        </div>
       </div>
     </div>
    </script>

    <script type="text/ng-template" id="updatepanelmodalconfirm.html">
      <div class="modal fade">
        <div class="modal-dialog modal-lg">
         <div class="modal-content">
           <div class="modal-header">
             <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
             <h4 class="modal-title">A panel with this name is already saved. Are you sure to overwrite it?</h4>
           </div>
           <div class="modal-body text-center" >
             <button type="button" ng-click="confirmUpdate()" class="btn btn-primary" data-dismiss="modal">Yes</button>
             <button type="button" ng-click="cancelUpdate()" class="btn" data-dismiss="modal">No</button>
           </div>
         </div>
        </div>
      </div>
     </script>

     <script type="text/ng-template" id="loadpanelmodal.html">
       <div class="modal fade">
         <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Choose panel</h4>
            </div>
            <div class="modal-body">
              <ul class="list-group">
                <a href="" data-dismiss="modal" ng-click="loadPanel(panel)" class="list-group-item" ng-repeat="panel in loadedpanels"><span class="badge">{{panel._source.rows}}x{{panel._source.columns}} - {{panel._source.charts.length}} charts</span>
                  <h4 class="list-group-item-heading">{{panel._source.name}}</h4>
                  <p class="list-group-item-text">{{panel._source.description}}</p>
                </a>
              </ul>
            </div>
            <div class="modal-footer">
              <button type="button" ng-click="cancel()" class="btn" data-dismiss="modal">Cancel</button>
            </div>
          </div>
         </div>
       </div>
      </script>

      <script type="text/ng-template" id="positionvismodal.html">
        <div class="modal fade">
          <div class="modal-dialog modal-lg">
           <div class="modal-content">
             <div class="modal-header">
               <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title">Choose position of the panel</h4>
             </div>
             <div class="modal-body">

           <form class="form-horizontal" role="form">
             <div class="form-group">
               <label for="name" class="col-sm-2 control-label">Row</label>
               <div class="col-sm-10">
                 <input type="number" min="1" class="form-control" id="row" placeholder="row" ng-model="row">
               </div>
             </div>
             <div class="form-group">
               <label for="age" class="col-sm-2 control-label">Column</label>
               <div class="col-sm-10">
                 <input type="number" min="1" class="form-control" id="column" placeholder="column" ng-model="column">
               </div>
             </div>
             <hr>
             <div class="form-group">
               <label for="age" class="col-sm-2 control-label">Width</label>
               <div class="col-sm-10">
                 <input type="number" min="1" class="form-control" placeholder="Chart Width" ng-model="width">
               </div>
             </div>
             <div class="form-group" ng-show="showHeight">
               <label for="age" class="col-sm-2 control-label">Height</label>
               <div class="col-sm-10">
                 <input type="number" min="1" class="form-control" placeholder="Chart Height" ng-model="height">
               </div>
             </div>
             <div class="form-group" ng-show="showDepth">
               <label for="age" class="col-sm-2 control-label">Depth</label>
               <div class="col-sm-10">
                 <input type="number" min="1" class="form-control" placeholder="Chart Depth" ng-model="depth">
               </div>
             </div>
           </form>

             </div>
             <div class="modal-footer">
               <button type="button" ng-click="acceptAdd()" class="btn btn-primary" data-dismiss="modal">Accept</button>
               <button type="button" ng-click="cancel()" class="btn" data-dismiss="modal">Cancel</button>
             </div>
           </div>
          </div>
        </div>
       </script>
</div>


<!-- button type="button" class="btn btn-default btn-sm" ng-click="changeTab(1)">Go to visualize</button -->
