<div class="container-fluid" style="height:100%">
  <div class="row" style="height:100%">
    <div class="col-md-3" ng-style="{'height': '100%'}">

      <div class="row">
        <h4>Click to add: </h4>
        <ul class="list-group">
          <a href="" data-dismiss="modal" ng-click="addToPanel(vis._source)" class="list-group-item" ng-repeat="vis in loadedvis"><span class="badge">{{vis._source.chartType}}</span>
            <h5 class="list-group-item-heading">{{vis._source.name}}</h5>
            <p class="list-group-item-text">{{vis._source.description}}</p>
          </a>
        </ul>
      </div>

    </div>
    <div class="col-md-9" id="ThreeJSPanels" style="height:100%"></div>

  </div>
</div>


<!-- button type="button" class="btn btn-default btn-sm" ng-click="changeTab(1)">Go to visualize</button -->
