<div class="container-fluid" style="height:100%">

  <h2>Click to show the dashboard:</h2>

  <ul class="list-group">
    <a href="" data-dismiss="modal" ng-click="showDash(dash)" class="list-group-item" ng-repeat="dash in loadeddashboards"><span
        class="badge">{{dash._source.panels.length}} panels & {{dash._source.charts.length}} charts</span>
      <h4 class="list-group-item-heading">{{dash._source.name}}</h4>
      <p class="list-group-item-text">{{dash._source.description}}</p>
    </a>
  </ul>

</div>